@charset "utf-8";

body{
    background-color: #ffffff;
    color: #222328;
    margin: 0;
}

a{
    text-decoration: none;
    color: #222328;
}

.table{
    border: 1px solid red;
    width: 1200px;
}

header{
    border: 1px solid rgb(55, 30, 163);
}
