@charset "utf-8";

/* 기본세팅 */
body {
    margin: 0;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: #000;
}

/* 와이어프레임 (가로)*/
.table {
    border: 1px solid violet;
    width: 1200px;
}
.table > div {
    border: 1px solid violet;
}
header {
    width: 1200px;
    height: 100px;
    margin: auto;
    position: relative;
    z-index: 100;
}
header > div {
    border: 1px solid violet;
}
.logo {
    width: 200px;
    height: 100px;
    float: left;
}
.navi {
    width: 600px;
    height: 100px;
    float: right;
}
.slide {
    border: 1px solid violet;
    width: 1200px;
    height: 300px;
    font-size: 0;
    overflow: hidden;
}
.ani {
    border: 1px solid violet;
    width: 1200px;
    height: 300px;
}
.items {
    width: 1200px;
    height: 200px;
}
.items > div {
    border: 1px solid violet;
    float: left;
}
.news {
    width: 490px;
    height: 200px;
}
.banner {
    width: 350px;
    height: 200px;
}
.short {
    width: 350px;
    height: 200px;
}
footer {
    width: 1200px;
    height: 100px;
}
footer > div {
    border: 1px solid violet;
    float: left;
}
.f-logo {
    width: 200px;
    height: 100px;
}
.copy {
    width: 790px;
    height: 100px;
}
.sns {
    width: 200px;
    height: 100px;
}

/* 네비 */
.menu {
    list-style: none;
}
.menu > li {
    box-sizing: border-box;
    float: left;
    width: 25%;
}
.menu > li > a {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
}
.menu > li:hover > a {
    color: #fff;
    background-color: #000;
    transition: 0.5s;
}
.sub {
    display: none;
}
.sub > a {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
}
.sub > a:hover {
    color: #fff;
    background-color: #000;
    transition: 0.5s;
}

/* 공지사항 & 갤러리 */
.btn {
    margin-top: 5px;
}
.btn > a {
    border: 1px solid #000;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    padding: 5px;
    display: inline-block;
    margin-right: -6px;
    margin-bottom: -1px;
}
.btn > a.act {
    background-color: #85d4ff;
}
.tab1 , .tab2 {
    border: 1px solid #000;
    width: 95%;
}
.tab1 > a {
    display: block;
    padding: 3px 5px;
    border-bottom: 1px solid #000;
}
.tab1 > a > b {
    font-weight: normal;
    float: right;
}
.tab1 > a:last-child {
    border-bottom: none;
}
.tab2 {
    display: none;
}
.tab2 > a > img {
    width: 130px;
    padding: 10px;
}

/* ani 요소 */
.ani > a {
    position: absolute;
    visibility: hidden;
    animation: fadeinout 10s linear infinite;
}
.ani > a:nth-child(1) {
    animation-delay: 0s;
}
.ani > a:nth-child(2) {
    animation-delay: 3.5s;
}
.ani > a:nth-child(1) {
    animation-delay: 7s;
}

/* 팝업 */
.pop {
    position: absolute;
    background-color: #00000037;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
}
.win {
    position: absolute;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
.win > h2 {
    text-align: center;
}
.cl-pop {
    border: 1px solid #000;
    padding: 10px;
    float: right;
}

/* 애니메이션 */
@keyframes fadeinout {
    0% {opacity: 0;}
    5% {opacity: 1;
        visibility: visible;}
    35% {opacity: 1;}
    40% {opacity: 0;
        visibility: hidden;}
    100% {opacity: 0;}
}