@charset "UTF-8";

body{
    background-color: #fff;
    color: #333;
    margin: 0;
    font-size: 15x;
}
a{
    color: #333;
    font-size: 15x;
    text-decoration: none;
}

.container{
    width: 100%;

    /* left & right로 인해 필요함 */
    display: flex;

    /* footer로 인해 필요함 */
    flex-wrap: wrap;
}
.left{
    width: 200px;
    height: 650px;
}
.right{
    width: calc(100% - 200px);
    height: 650px;
}
footer{
    width: 100%;
    height: 100px;
}

/* header */
.h-logo{height: 100px;}

/* Navigation */
.navi{height: 450px;}
.menu{
    list-style: none;
    padding: 5px;
    width: 90%;
    position: relative;
}
.menu li > a{
    border: 1px solid #000;
    display: block;
    padding: 5px;
    transition: 0.5s;
}
.menu li:hover > a{
    background-color: #000;
    color: #fff;
}
.sub{
    border: 1px solid #000;
    display: none;
}
.sub a{
    display: block;
    padding: 5px;
    transition: 0.5s;
}
.sub a:hover{
    background-color: #000;
    color: #fff;
}


/* Slide */
.slide{
    height: 400px;
    overflow: hidden;
}
.slide > div{
    width: 300%;
    font-size: 0;
    animation: slide 10s linear infinite;
}
.slide img{
    width: calc(100% / 3);
    height: 400px;
}

@keyframes slide{
    0%{margin-left: 0;}
    30%{margin-left: 0;}
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    70%{margin-left: -200%;}
    95%{margin-left: -200%;}
    100%{margin-left: 0;}
}

.banner{
    width: 230px;
    height: 400px;

    position: absolute;
    right: 0;
    top: 0;
}
/* Items */
.items{
    height: 250px;

    /* 너무 딱 붙어있으면 띄워주기 */
    margin: 10px;
}
.items > div{
    height: 250px;
    float: left;
    box-sizing: border-box;
}
.news{width: 50%;}
.gallery{width: 50%;}

.btn a{
    border: 1px solid #000;
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    
    border-bottom: none;
    margin-bottom: -1px;
    background-color: #fff;
}

.tab1, .tab2{
    border: 1px solid #000;
    height: 200px;
}
.tab1{
    /* tab2와 띄우기 용 */
    margin-right: 50px;

    /* 상하, 좌우 */
    padding: 0 15px;
}
.tab1 a{
    display: block;
    /* 상, 좌우, 하 */
    padding: 15px 15px 0;
    border-bottom: 1px solid #000;
}
.tab1 a b{
    float: right;
    font-weight: normal;
}
.tab2 img{
    width: 100%;
}
.tab2 div{
    padding: 20px 0 0;
    width: 130px;
    float: left;
    box-sizing: border-box;
    margin-left: 10%;
}


footer div{
    height: 100px;
    float: left;
    box-sizing: border-box;
}
.f-logo{width: 20%;}
.copy{width: 60%;text-align: center;padding-top:20px;}
.f-site{width: 20%;text-align: center;padding-top:20px;}


/* Modal */
.modal{
    background-color: rgba(0, 0, 0, 0.24);
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.modal-content{
    width: 350px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
}
.close-modal{
    float: right;
    border: 1px solid #000;
    padding: 5px 10px;
}