@charset "utf-8";

body{
    background-color: #fff;
    color: #000;
    margin: 0;
}

a{
    text-decoration: none; 
    color: #000;
}


.table{
    border: 1px solid blue;
    width: 1200px;

}
header{
    border: 1px solid blue;
    width: 1200px;
    height: 100px;
}
.logo{
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    float: left;
}
.navi{
    border: 1px solid blue;
    width: 600px;
    height: 100px;
    float: right;
}

.slide{
    border: 1px solid blue;
    width: 1200px;
    height: 300px;

}
.ani{
    border: 1px solid blue;
    width: 1200px;
    height: 300px;
}

.items{
    border: 1px solid blue;
    width: 1200px;
    height: 200px;   
}
.news{
    border: 1px solid blue;
    width: 490px;
    height: 200px;
    float: left;
}
.banner{
    border: 1px solid blue;
    width: 350px;
    height: 200px;
    float: left;
}
.short{
    border: 1px solid blue;
    width: 350px;
    height: 200px;
    float: left;
}

footer{
    border: 1px solid blue;
    width: 1200px;  
    height: 100px;
}
.f-logo{
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    float: left;
}
.copy{
    border: 1px solid blue;
    width: 790px;
    height: 100px;
    float: left;
}
.sns{
    border: 1px solid blue;
    width: 200px;
    height: 100px;
    float: left;
}


